@model AllProductsQueryModel

<ul class="pagination justify-content-center">
    <li class="page-item @if (!Model.Paging.HasPreviousPage) { <text>disabled</text> }">
        <a class="page-link"
           asp-action="All"
           asp-route-pageNumber="@Model.Paging.PreviousPageNumber"
           asp-route-parentCategoryId="@Model.ParentCategoryId"
           asp-route-childCategoryId="@Model.ChildCategoryId"
           asp-route-sizeId="@Model.SizeId"
           asp-route-filterByPrice="@((int) Model.FilterByPrice)"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-InDiscount="@Model.InDiscount">
            Previous
        </a>
    </li>
    @for (int i = Model.Paging.PageNumber - 4; i < Model.Paging.PageNumber; i++)
    {
        if (i > 0)
        {
            <li class="page-item">
                <a class="page-link" asp-action="All"
                   asp-route-pageNumber="@i"
                   asp-route-parentCategoryId="@Model.ParentCategoryId"
                   asp-route-childCategoryId="@Model.ChildCategoryId"
                   asp-route-sizeId="@Model.SizeId"
                   asp-route-filterByPrice="@((int) Model.FilterByPrice)"
                   asp-route-InDiscount="@Model.InDiscount"
                   asp-route-searchTerm="@Model.SearchTerm">@i </a>
            </li>
        }
    }
    <li class="page-item active" aria-current="page">
        <span class="page-link">
            @Model.Paging.PageNumber
            <span class="sr-only">(current)</span>
        </span>
    </li>
    @for (int i = Model.Paging.PageNumber + 1; i <= Model.Paging.PageNumber + 4; i++)
    {
        if (i <= Model.Paging.PagesCount)
        {
            <li class="page-item">
                <a class="page-link" asp-action="All"
                   asp-route-pageNumber="@i"
                   asp-route-parentCategoryId="@Model.ParentCategoryId"
                   asp-route-childCategoryId="@Model.ChildCategoryId"
                   asp-route-sizeId="@Model.SizeId"
                   asp-route-filterByPrice="@((int) Model.FilterByPrice)"
                   asp-route-InDiscount="@Model.InDiscount"
                   asp-route-searchTerm="@Model.SearchTerm">@i</a>
            </li>
        }
    }
    <li class="page-item @if (!Model.Paging.HasNextPage) { <text>disabled</text> }">
        <a class="page-link" asp-action="All"
           asp-route-pageNumber="@Model.Paging.NextPageNumber"
           asp-route-parentCategoryId="@Model.ParentCategoryId"
           asp-route-childCategoryId="@Model.ChildCategoryId"
           asp-route-sizeId="@Model.SizeId"
           asp-route-filterByPrice="@((int) Model.FilterByPrice)"
           asp-route-searchTerm="@Model.SearchTerm"
            asp-route-InDiscount="@Model.InDiscount">
            Next
        </a>
    </li>
</ul>
