@model ProductEditViewModel
@{
    this.ViewData["Title"] = "Edit Product - Admin";

}



<style>
    body {
        margin: 0;
        padding-top: 40px;
        color: #2e323c;
        background: #f5f6fa;
        position: relative;
        height: 100%;
    }

    .account-settings .user-profile {
        margin: 0 0 1rem 0;
        padding-bottom: 1rem;
        text-align: center;
    }

        .account-settings .user-profile .user-avatar {
            margin: 0 0 1rem 0;
        }

            .account-settings .user-profile .user-avatar img {
                width: 90px;
                height: 90px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                border-radius: 100px;
            }

        .account-settings .user-profile h5.user-name {
            margin: 0 0 0.5rem 0;
        }

        .account-settings .user-profile h6.user-email {
            margin: 0;
            font-size: 0.8rem;
            font-weight: 400;
            color: #9fa8b9;
        }

    .account-settings .about {
        margin: 2rem 0 0 0;
        text-align: center;
    }

        .account-settings .about h5 {
            margin: 0 0 15px 0;
            color: #007ae1;
        }

        .account-settings .about p {
            font-size: 0.825rem;
        }

    .form-control {
        border: 1px solid #cfd1d8;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-size: .825rem;
        background: #ffffff;
        color: #2e323c;
    }

    .card {
        background: #ffffff;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 0;
        margin-bottom: 1rem;
    }
</style>

<div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <div class="card-body">
                <div class="account-settings">
                    <div class="user-profile">
                        <div class="user-avatar">
                            <img src="@Model.ImageUrl" alt="Maxwell Admin">
                        </div>
                        <h5 class="user-name">@Model.Name</h5>
                        <h6 class="user-email">$@Model.PriceAfterDiscount</h6>
                    </div>
                    <div class="about">
                        <h5>Description</h5>
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="card h-100">
            <form method="post" asp-area="Administration" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-2 text-primary">Product Details</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="@Model.Name"></label>
                                <input asp-for="@Model.Name" class="form-control" />
                                <span asp-validation-for="@Model.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="@Model.Price"></label>
                                <input asp-for="@Model.Price" class="form-control" />
                                <span asp-validation-for="@Model.Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="@Model.DiscountPrice"></label>
                                <input asp-for="@Model.DiscountPrice" class="form-control" />
                                <span asp-validation-for="@Model.DiscountPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="@Model.Description">Description</label>
                                <textarea type="text" class="form-control" asp-for="@Model.Description"></textarea>
                                <span asp-validation-for="@Model.Description"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mt-3 mb-2 text-primary">Product Categories</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="@Model.ChildCategoryId"></label>
                                <select class="form-control" asp-for="@Model.ChildCategoryId" asp-items="@Model.ChildCategories.Select(x=> new SelectListItem(x.Name , x.Id.ToString()))">
                                </select>
                                <span asp-validation-for="@Model.ChildCategoryId"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="@Model.ParentCategoryId"></label>
                                <select class="form-control" asp-for="@Model.ParentCategoryId" asp-items="@Model.ParentCategories.Select(x=>new SelectListItem(x.Name, x.Id.ToString()))">
                                </select>
                                <span asp-validation-for="@Model.ParentCategoryId"></span>
                            </div>
                        </div>

                    </div>

                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mt-3 mb-2 text-primary">Product Variants</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="@Model.ProductVariantId"></label>
                                <select class="form-control" asp-for="@Model.ProductVariantId" asp-items="@Model.ProductVariants.Select(x => new SelectListItem(x.Name, x.Id.ToString()))">
                                </select>
                                <span asp-validation-for="@Model.ProductVariantId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <button asp-area="Administration" asp-controller="ProductVariants"
                                    asp-action="Remove" asp-route-ProductVariantId="@Model.ProductVariantId"
                                    asp-route-id="@Model.Id"
                                    class="btn btn-danger  btn-block">
                                Delete
                            </button>

                            <button id="addButton" type="button" class="btn btn-success btn-block">Add</button>
                        </div>
                    </div>

                    <div class="row gutters" id="hiddenDiv" style="display:none">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mt-3 mb-2 text-primary">Add Product Variants</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label asp-for="@Model.SizeId"></label>
                                <select class="form-control" asp-for="@Model.SizeId" asp-items="@Model.ProductSizes.Select(x => new SelectListItem(x.Name, x.Id.ToString()))">
                                </select>
                                <span asp-validation-for="@Model.SizeId" class="text-danger"></span>
                            </div>
                            <button id="saveChanges" class="btn btn-warning" asp-area="Administration" asp-controller="ProductVariants" asp-action="Add" asp-route-sizeId="@Model.SizeId" asp-route-id="@Model.Id">Save Changes</button>
                        </div>
                    </div>

                    <br />
                    <br />

                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <script>
            document.getElementById('addButton').addEventListener('click', (e) => {
                const parentElement = e.target.parentNode.parentNode;
                const hiddenDiv = parentElement.nextElementSibling;

                if (hiddenDiv.id == 'hiddenDiv') {
                    hiddenDiv.style.display = 'block';
                }
            });

            document.getElementById('saveChanges').addEventListener('click', (e) => {

                if (e.target.tagName == 'BUTTON') {
                    const button = e.target;
                    const parentElement = button.parentNode.parentNode;

                    parentElement.style.display = 'none';
                }
            });

    </script>
}
